#-----------------------------------------
# Ignore environment variable files
#-----------------------------------------
venv/
.venv/

.envrc
.python-version
.idea/


#-----------------------------------------
#API KEY file
#-----------------------------------------
.env


#-----------------------------------------
#Python bytecode, build artifacts, and logs
#-----------------------------------------
__pycache__/
*.pyc



#-----------------------------------------
# Output files
#-----------------------------------------
out.txt
figma_design.json
res/
Index.xml
input.txt